#title{
		font-family:sans-serif;
		font-size: 40px;
		text-align:center;
}

/*.signup_box {
    background: white;
    border: 1px solid #8DAAFF;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px #8DAAFF;
    color: #666;
    float: left;
    padding: 5px 10px;
    width: 300px;
    outline: none;
}
*/
